// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  max-height: 550px;
  color: $white;
  background-color: $grey;
  @include bp($lg){
    height: 85%;
    min-height: 650px;
    max-height: none;
  }
  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include page-padding;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;

    &--mobile {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include background-attributes;
      background-position: left center;
      display: block;
      @include bp($lg){
        display: none;
      }
    }
  }
  &__nav {
    $site-nav-height:    56px;
    $site-nav-height-sm: 44px;
    // optional container for navigation include
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;

    height: $site-nav-height-sm;
    min-height: $site-nav-height-sm;
    @include bp($md){
      height: $site-nav-height;
      min-height: $site-nav-height;
    }

    &--top {
      top: 0;
      bottom: auto;
    }
  }


  &__title-image {
    margin: auto;
    display: block;
    width: 100%;
    max-width: $lg;
    background-image: url('../img/banner/title.svg');
    @include background-attributes;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding: 20%;
    }
  }
}
