---
layout: super
img: img/

subject-line: Reconnect in Jersey - your autumn escape is here
preheader: The Great Late Escape

page-link: #page-link
terms-and-conditions:

hero:
  config:
    link: "#hero-link"
    row-gutter: 30
  banner:
    title:
      image: T..hub.png
      width: 480
    background:
      image: BG..super-hero-2.jpg
      height: 600
  content:
    - paragraph: Ready to rebalance this autumn? Discover what an escape to Jersey can offer, from wild outdoors to foodie delights. Meet the makers and discover the finest spots on the island, immersing yourself in the restorative charms of this enigmatic destination. Let our autumn escape guide inspire your next getaway, with handpicked hotels and offers for a revitalising break.
      style: lg




image-text-row:
  config:
    row-gutter: 0
    align: left
    alternating: true
  items:

    - link: "#"
      image: C..history.jpg
      content:
        - title: Unpick ancient stories at the autumn equinox
          style: md
        - paragraph: You don’t have to scratch too far beneath the surface to experience Jersey’s rich and diverse past...
          style: sm
        - space: 8
        - button: Read more
          scale: sm

    - link: "#"
      image: C..people.jpg
      content:
        - title: Meet the husband and wife cider makers
          style: md
        - paragraph: Richard and Sarah, affectionately known as ‘The Cider Maker and his Wife’ are welcoming you to join them this autumn...
          style: sm
        - space: 8
        - button: Read more
          scale: sm

    - link: "#"
      image: C..nature.jpg
      content:
        - title: Discover Jersey’s green lanes on two wheels
          style: md
        - paragraph: For an island of just nine by five miles, Jersey has over 500 miles of glorious country lanes to explore...
          style: sm
        - space: 8
        - button: Read more
          scale: sm



offer:
  items:

    - title: Luxury boutique Jersey holiday with car hire & an optional vineyard tour - Flexible holiday
      location: The Club Hotel & Spa, St Helier
      description: Sublime Jersey getaway with Michelin-star dining
      price: 319
      price-description: Based on 2 people for 3 nights
      saved: 33
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/112640/be2245ff_03b8_466f_8b02_7c5f0a67a457.jpg?auto=format,compress
      link: https://www.secretescapes.com/5-star-boutique-jersey-holiday-with-car-hire-and-an-optional-vineyard-tour-flexible-holiday-the-club-hotel-and-spa-st-helier/sale
      attribute-refundable:
      attribute-flights: true
      attribute-customisable:


    - title: Elegant Jersey break with sea views & car hire - Flexible holiday
      location: Hotel Cristina, Channel Islands
      description: Admire Jersey from an elegant St Lawrence stay
      price: 349
      price-description: Based on 2 people for 3 nights
      saved: 33
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/98226/1973a1ad_5ed3_45f1_ac1c_b421503fb723.jpg?auto=format,compress
      link: https://www.secretescapes.com/elegant-jersey-break-with-sea-views-and-car-hire-flexible-holiday-hotel-cristina-channel-islands/sale
      attribute-refundable:
      attribute-flights: true
      attribute-customisable:


    - title: Picturesque seaside Jersey break with car hire – Flexible holiday
      location: L’Horizon Beach Hotel & Spa, Channel Islands
      description: St Brelade spa stay on a lovely Jersey bay
      price: 359
      price-description: Based on 2 people for 3 nights
      saved: 32
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/113049/1255642f_30cd_4205_8cb7_d71dafeeb2b7.jpg?auto=format,compress
      link: https://www.secretescapes.com/picturesque-seaside-jersey-break-with-car-hire-flexible-holiday-lhorizon-beach-hotel-and-spa-channel-islands/sale
      attribute-refundable:
      attribute-flights: true
      attribute-customisable:


    - title: Scenic clifftop Jersey retreat with four AA Rosette dining & car hire - Flexible holiday
      location: The Atlantic Hotel, Channel Islands
      description: Award-winning Jersey break with lauded dining
      price: 375
      price-description: Based on 2 people for 3 nights
      saved: 31
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/34879/69c53fea_07ba_4762_9a60_89aa349714bb.jpg?auto=format,compress
      link: https://www.secretescapes.com/award-winning-clifftop-jersey-retreat-with-stunning-views-flexible-holiday-the-atlantic-hotel-channel-islands/sale
      attribute-refundable:
      attribute-flights: true
      attribute-customisable:


    - title: Scenic Jersey holiday at a former coaching inn - Flexible holiday
      location: The Revere Hotel, St Helier
      description: Historic St Helier coaching inn escape in the Channel Islands
      price: 385
      price-description: Based on 2 people for 4 nights
      saved: 37
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/78664/026cdcef_bca8_41e2_a652_c7ac034c0cb8.jpg?auto=format,compress
      link: https://www.secretescapes.com/scenic-jersey-holiday-at-a-former-coaching-inn-with-car-hire-the-revere-hotel-st-helier/sale
      attribute-refundable:
      attribute-flights: true
      attribute-customisable:


    - title: 5* gourmet Jersey break with Michelin-star dining - Flexible holiday
      location: Grand Jersey Hotel & Spa, St Helier
      description: Five-star Jersey spa hotel with Michelin-star dining
      price: 399
      price-description: Based on 2 people for 4 nights
      saved: 32
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/85470/8ab014e9_8287_4286_976f_f56f4a539870.jpg?auto=format,compress
      link: https://www.secretescapes.com/5-star-gourmet-jersey-break-with-michelin-star-dining-flexible-holiday-grand-jersey-hotel-and-spa-st-helier/sale
      attribute-refundable:
      attribute-flights:
      attribute-customisable:


    - title: Luxury Jersey country house getaway with car hire - Flexible holiday
      location: Somerville Hotel, St Aubin
      description: Luxe harbourside Jersey holiday with car hire
      price: 298
      price-description: Based on 2 people for 3 nights
      saved: 33
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/35521/2151a700_3b27_4411_af93_6ddc5aefc20e.jpg?auto=format,compress
      link: https://www.secretescapes.com/luxury-jersey-country-house-getaway-with-car-hire-somerville-hotel-st-aubin2/sale
      attribute-refundable:
      attribute-flights: true
      attribute-customisable:


    - title: Beachfront Jersey break with splendid sea views - Flexible holiday
      location: Golden Sands Hotel, St. Brelade's Bay
      description: Jersey island break on the bay of St Brelade's
      price: 349
      price-description: Based on 2 people for 3 nights
      saved: 33
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/77243/072bc0bb_4f25_4a1c_be66_bc69fda3a61e.jpg?auto=format,compress
      link: https://www.secretescapes.com/beachfront-jersey-break-with-sea-views-and-car-hire-flexible-holiday-golden-sands-hotel-st-brelades-bay/sale
      attribute-refundable:
      attribute-flights: true
      attribute-customisable:


    - title: Deluxe Jersey break with fine dining & car hire - Flexible holiday
      location: The Royal Yacht, Channel Islands
      description: Refined St Helier spa hotel with fine dining
      price: 349
      price-description: Based on 2 people for 3 nights
      saved: 33
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/26812/142e0a21_6d10_4cda_b531_8b16861ecdc3.jpg?auto=format,compress
      link: https://www.secretescapes.com/deluxe-jersey-break-with-fine-dining-and-car-hire-the-royal-yacht-channel-islands/sale
      attribute-refundable:
      attribute-flights: true
      attribute-customisable:


    - title: Chilled Jersey self-catering luxury VW campervan break with shared pool - Flexible holiday
      location: Rozel Camping Park, Channel Islands
      description: Cruise around Jersey in a cool campervan
      price: 749
      price-description: Based on 2 people for 4 nights
      saved: 23
      expires: 2021-12-31
      image: https://secretescapes-web.imgix.net/sales/113351/11d5bd64_2ee8_435d_bd2f_426311b9100e.jpg?auto=format,compress
      link: https://www.secretescapes.com/chilled-jersey-self-catering-campervan-break-with-shared-pool-flexible-holiday-rozel-camping-park-channel-islands/sale
      attribute-refundable:
      attribute-flights: true
      attribute-customisable:


    - title: Sophisticated stay in New Jersey’s Arts District - Fully refundable
      location: Canopy by Hilton Jersey City Arts District, USA
      description: New Jersey sights from the heart of the Arts District&nbsp;
      price: 113
      price-description: per room per night
      saved: 51
      expires: 2031-02-23
      image: https://secretescapes-web.imgix.net/hotels/2736/a7e36d52_9d60_4f3d_ac5b_63087d7f1b9c.jpg?auto=format,compress
      link: https://www.secretescapes.com/sophisticated-stay-in-new-jerseys-arts-district-fully-refundable-canopy-by-hilton-jersey-city-arts-district-usa/sale-hotel
      attribute-refundable: true
      attribute-flights:
      attribute-customisable:


---
{% include system/helpers.html %}



{% include component/row.html content=page.image-text-row %}

{% include element/space.html height="60" %}
{% include element/title.html title="Book your escape now" style="xl" %}
{% include element/space.html height="30" %}

{% include component/offer-one-col.html content=page.offer %}
